/* beginning of Eric Meyer's CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of Eric Meyer's CSS Reset */

#container {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
	font-size: 12px;
	color: black;
	min-width: 900px;
	margin: 0 auto;
}

#header {
	margin: 30px 50px;
}

#greeting {
	display: inline-block;
	color: #ACACAC;
}

#navbar {
	float: right;
}
	#navbar li {
		display: inline;
		margin: 0 10px;
	}	
	#navbar a {
		color: #506286;
		text-decoration: none;
	}
	#navbar a:hover {
		color: #85A3E0;
	}

#signin a {
	color: #85A3E0;
}
	#signin a:hover {
		color: #506286;
	}

.hidden {
	display: none;
}	

#intro-content {
	min-width: 900px;
	margin: 0 auto;
	text-align: center;
	font-family: Georgia;
}

#logo {
	margin: 20px auto; 
}

.heading {
	height: 150px;
}

#default-heading h1 {
	font-size: 51px; 
	margin: 0 auto;
}
#default-heading h2 {
	font-size: 19px;
	margin: 20px auto;
}
	
#basecamp-heading h1 {
	font-size: 42px;
	width: 900px;
	margin: 0 auto;
}
#basecamp-heading p {
	font-size: 15px;
	width: 850px;
	margin: 15px auto;
	line-height: 20px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
#basecamp-arrow {
	position: absolute;
	margin-left: -185px;
	margin-top: -10px;
	z-index: 2; 
}

#highrise-heading h1 {
	font-size: 42px;
	width: 850px;
	margin: 0 auto;
}
#highrise-heading p {
	font-size: 15px;
	width: 800px;
	margin: 15px auto;
	line-height: 20px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
#highrise-arrow {
	position: absolute; 
	margin-left: 40px;
	margin-top: -10px;
	z-index: 2;
}

#campfire-heading h1 {
	font-size: 42px;
	width: 850px;
	margin: 0 auto;
}
#campfire-heading p {
	font-size: 15px;
	width: 825px;
	margin: 15px auto;
	line-height: 20px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
#campfire-arrow {
	position: absolute; 
	margin-left: 115px;
	margin-top: -10px;
	z-index: 2; 
}

#webapps {
	min-width: 900px;
	margin: 20 auto;
	text-align: center;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
	z-index: 1;
}
	#webapps a {
		display: inline-block;
	}
	#webapps div {
		display: inline-block;
		height: 250px;
		width: 180px;
		background: linear-gradient(#FFFFFF, #E6E6E6);
		border: 1px solid #E6E6E6;
		border-radius: 5px;
		margin: 20px;	
	}
	#webapps img {
		margin: 20px;
	}
	#webapps h3 {
		font-size: 22px;
		font-weight: bold;
		color: #404093;
		text-decoration: underline;
	}	
	#webapps h4 {
		font-size: 14px;
		color: #CC0000;
		font-weight: bold;
		margin-top: 12px;
	}
	#webapps p {
		font-size: 14px;
		margin: 12px;
		color: black;
		line-height: 20px;
	}

.standout {
	text-decoration: underline;
	color: #404093;
}	

.section-divider {
	color: #A6A6A6;
	margin-top: 30px;
}	
